.myNavbar {
    position: absolute;
    width: 100%;
    z-index: 5;
    display: flex;
    justify-content: center;

    a {
        color: aliceblue;
        margin-left: 2rem;
        margin-right: 2rem;
    }
}